.resimSlider {
    height: 600px;
    /*fotograf boyutunu esitledik*/
}

body {
    padding: 4px;
    /*sayfayi sabitledik*/

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.hakkimizda,
.galeri {
    background-color: rgb(208, 184, 189);
}

.ayrac {
    border: none;
    border-top: 3px solid rgb(135, 51, 65);
    max-width: 250px;
    margin: 25px auto;
}

.pembe {
    color: rgb(135, 51, 65);
    position: relative;
    top: -50px;
    font-size: 40px;
    border: 10px solid rgb(208, 184, 189);
    
}

.soft {
    color: rgb(135, 51, 65);
    position: relative;
    top: -50px;
    font-size: 40px;
    border: 10px solid rgb(208, 184, 189);
}

.beyaz {
    color: rgb(236, 225, 227);
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px solid rgb(255, 255, 255);
}

.ekipKart>img:hover {
    opacity: 0.8;
}

.figure:hover {
    opacity: 0.8;

}

.beyazz {
    color: rgb(183, 107, 107);
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px solid rgb(255, 255, 255);
}
.col-md-8 .form-control{
    width: 123%;
}
.col-md-8{
    width: 115%;
    padding: 5px;
}
